body {
    .minecraft-text {
    font-family: 'Press Start 2P', monospace;
    font-size: 18px;
    background-color: #5c34ff;
    margin: 20px;
}

h1 {
    color:rgb(0, 166, 255);
}

.my-image {
    width:900px;
}

.my-image {
    width:999px
}    

.page2 {
    font-size: 28px;
    background-color: #ffffff;
}

.minecraft-text {
    font-family: 'Press Start 2P', monospace;
    font-size: 16px;
}

h2 {
    color:#5c34ff
}





